@model Sprint2.Models.ResultadoIa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ResultadoIa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo_analise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo_analise)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detalhes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detalhes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_resultadoIa">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
