@model Sprint2.Models.FeedbackCliente

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Id_cliente" class="control-label">Cliente:</label>
        <select asp-for="Id_cliente" class="form-control">
            <option value="">Selecione um cliente</option>
            @foreach (var cliente in ViewBag.Clientes)
            {
                <option value="@cliente.Value">@cliente.Text</option>
            }
        </select>
        <span asp-validation-for="Id_cliente" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Data_feedback" class="control-label">Data do Feedback:</label>
        <input asp-for="Data_feedback" class="form-control" />
        <span asp-validation-for="Data_feedback" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Comentario" class="control-label">Comentário:</label>
        <textarea asp-for="Comentario" class="form-control"></textarea>
        <span asp-validation-for="Comentario" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Avaliacao" class="control-label">Avaliação:</label>
        <input asp-for="Avaliacao" class="form-control" />
        <span asp-validation-for="Avaliacao" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
